<form class="form-inline">
    <div class="form-group mx-sm-3">
        <label for="inputPassword2" class="sr-only">Search:&nbsp;</label>
        <input type="text"  class="form-control" id="filter" @bind-value="filter" />
    </div>
    <button type="button" class="btn btn-primary" @onclick="HandleSearch">Search</button>
</form>

@code {
    private string filter { get; set; }

    [Parameter] public EventCallback<string> OnSearch { get; set; }

    private void HandleSearch()
    {
        OnSearch.InvokeAsync(filter);
    }
}
